/* GENERAL */

body {
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom, #009688 20%, #dbdbd2 20%);
}

/* .CONTAINER */

.container {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  height: 90vh;
}

.container .user {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.user img {
  width: 50px;
  border-radius: 40px;
}

/* LEFT-TOP RIGHT-TOP */

.left {
  height: 90vh;
}

.left-top .user,
.right-top .user {
  height: 13vh;
  background-color: #eaeaea;
}

.notifications {
  background-color: #8edafc;
}

/* LEFT BOTTOM */

.left-bottom {
  height: calc(90vh - 12vh);
}

.miniature-date {
    font-size: .7rem;
}

/* RIGHT */

.right {
  height: 90vh;
}

.sent,
.received {
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
}

.sent {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.received {
  width: fit-content;
  background-color: #ffffff;
}

/* RIGHT BOTTOM */

.right-bottom {
  height: calc(80vh - 13vh);
  background-image: url(../img/mine.jpg);
}

.send-message {
  height: 10vh;
  background-color: #f3eeea;
}

.miniature-text {
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
    font-size: .7rem;
    padding-top: .5rem;
    padding-left: 5rem;
}
